PubkeyAcceptedKeyTypes +ssh-rsa

Host github.com
    Hostname github.com
    User {{ github_user }}
    IdentityFile ~/.ssh/id_rsa_github

Host {{ rh_gitlab_server }}
    Hostname {{ rh_gitlab_server }}
    User {{ rh_gitlab_user }}
    IdentityFile ~/.ssh/id_ed22519_redhat_gitlab

Host review.gerrithub.io
    Hostname review.gerrithub.io
    Port 29418
    User {{ gerrithub_user }}
    IdentityFile ~/.ssh/id_rsa_github

Host review.rdoproject.org
    Hostname review.rdoproject.org
    Port 29418
    User {{ gerrithub_user }}
    IdentityFile ~/.ssh/id_rsa_github

Host review.opendev.org
    User {{ os_gerrit_user }}
    Port 29418
    Hostname review.opendev.org
    IdentityFile ~/.ssh/id_rsa_openstack_gerrit

Host {{ dev_hostname }}
    IdentityFile {{ dev_hostname_identity_file }}

Host {{ local_dev_hostname }}
    Hostname {{ local_dev_ip }}
    User slawek
    IdentityFile {{ dev_hostname_identity_file }}

Host {{ rh_gerrit }}
    User {{ rh_gerrit_user }}
    IdentityFile {{ rh_gerrit_identity_file }}
    PubkeyAcceptedKeyTypes +ssh-rsa

Host support-shell
    Hostname {{ support_shell_hostname }}
    User {{ support_shell_user }}

Host devstack.centos.ovn
    Hostname 10.100.0.70
    User vagrant
    IdentityFile ~/.ssh/tobiko_ed25519

Host devstack.ubuntu.ovs
    Hostname 10.120.0.30
    User vagrant
    IdentityFile ~/.ssh/tobiko_ed25519

Host devstack.ubuntu.ovn
    Hostname 10.120.0.40
    User vagrant
    IdentityFile ~/.ssh/tobiko_ed25519

Host shark15.devnest
    Hostname {{ shark15_hostname }}
    User {{ shark15_user }}

Host shark16.devnest
    Hostname {{ shark16_hostname }}
    User {{ shark16_user }}
