# Slaweq: set proper lang if it's not set
if [ -z $LANG ]; then
    export LANG="pl_PL.UTF-8"
fi

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="{{ ansible_env.HOME }}/.oh-my-zsh"

# This should automatically start new tmux session or attach to the existing
# one when terminal window is opened
export ZSH_TMUX_AUTOSTART="false"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="gnzh"

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in ~/.oh-my-zsh/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to automatically update without prompting.
# DISABLE_UPDATE_PROMPT="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS=true

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git colored-man-pages colorize tmux)

source $ZSH/oh-my-zsh.sh

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

#### My additional stuff ####

# ZSH autosuggestions support
source {{ ansible_env.HOME }}/.zsh-autosuggestions/zsh-autosuggestions.zsh

# Slaweq: fix locale in tmux session on Mac
if [[ $LC_CTYPE == "UTF-8" ]]; then
    export LC_CTYPE=""
fi

export EDITOR="vim"

# Functions to call trello-sprint tool
trello_tool_path="/Users/skaplons/dev/trello-sprint/trello_sprint"
function trello_sprint() {
    board=$1
    if [ ! -n "$board" ]; then
        board="DFG-Networking-vNES Squad"
    fi
    python3 $trello_tool_path/main.py --config $trello_tool_path/auth.conf $board report
}

function trello_sprint_members() {
    board=$1
    if [ ! -n "$board" ]; then
        board="DFG-Networking-vNES Squad"
    fi
    python3 $trello_tool_path/main.py --config $trello_tool_path/auth.conf $board report --include-members

}
function trello_sprint_pm_score() {
    board=$1
    if [ ! -n "$board" ]; then
        board="DFG-Networking-vNES Squad"
    fi
    python3 $trello_tool_path/main.py --config $trello_tool_path/auth.conf $board pm-score

}

# My changes (taken from bashrc)
function weather() {
    curl -H "Accept-Language: en" wttr.in/$1
}

function weather2() {
    curl -H "Accept-Language: en" v2.wttr.in/$1
}

# On MacOS I need such workaround for pass to have working polish chars
function pass() {
    orig_ctype=$LC_CTYPE
    orig_lang=$LANG
    PASS=$(which -p pass)
    LC_CTYPE=C && LANG=C
    $PASS "$@"
    LC_CTYPE=$orig_ctype&& LANG=$orig_lang
}

function print_today_tasks() {
    which task > /dev/null
    if [ $? -ne 0 ]; then
        return
    fi
    echo "               Today's tasks"
    task list due:today
    if [ $? -eq 1 ]; then
        echo "You can open some beer now \o/  "
    fi
}

alias ww="weather Wroclaw"
alias ww2="weather2 Wroclaw"

alias nmutt="stty discard undef; neomutt"

alias home_config="~/.screenlayout/2_monitors_i3wm.sh"
alias laptop_config="~/.screenlayout/only_laptop.sh"

# aliases for taskwarrior
alias yesterday="task list due:yesterday"
alias today="task list due:today"
alias tomorrow="task list due:tomorrow"

# Settings for fzf searching tool
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_OPTS='--height 40% --reverse --border'

# And at the end display today's tasks
print_today_tasks
