[[local|localrc]]
SERVICE_TOKEN={{ service_token }}
ADMIN_PASSWORD={{ admin_password }}
MYSQL_PASSWORD={{ db_password }}
RABBIT_PASSWORD={{ rabbit_password }}
SERVICE_PASSWORD=$ADMIN_PASSWORD

USE_PYTHON3=True

#
# Logging
#
LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=2

HOST_IP={{ hostvars[inventory_hostname]['ansible_' + iface]['ipv4']['address'] }}

SERVICE_HOST={{ service_host }}
MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
Q_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292

VNCSERVER_PROXYCLIENT_ADDRESS=$HOST_IP
VNCSERVER_LISTEN=0.0.0.0

{% if l2_agent == "ovn" %}
    {% include "compute-local.conf.ovn.j2" %}
{% else %}
    {% include "compute-local.conf.default.j2" %}
{% endif %}
