[Unit]
Description=Inhibit suspend when offlineimap is running.
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/offlineimap-is-running
User=xxx
Group=xxx

[Install]
RequiredBy=sleep.target
